.button a{
    cursor:pointer;
    font-family: 'Poppins', sans-serif;

    transition:filter .2s;

}

.button a:hover{
    filter:brightness(1.2);
}

.button .green, .button .blue, .button .pink, .menu-opcoes .button a, .button .gray{
    padding: .8em 2em;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius:10rem;
}

.button .green{
    background-color:var(--verde);
    color:var(--fundo);
    
}

.button .blue{
    background-color:var(--azul);
    color:var(--fundo);
}

.button .pink{
    background-color:#FB8CAC;
    color:var(--fundo);
}

.menu-opcoes .button a{
    color: black !important;
}