.home{
    background:var(--fundo);
    padding:2.5rem
}
.home .menu, .home .menu .logo, c{
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.home .menu .logo h1{
   font-size:4rem;
   color:var(--azul);
   font-family: 'Titan One', cursive;
   font-weight:900;

   margin-left:2rem
}

.home .menu .menu-opcoes button{
    font-family: 'Poppins', sans-serif;
    font-weight:500;
    font-size:2.2rem;
    color:var(--fonte);
    display:inline-flex;
    justify-content:space-between;
    padding:1.5rem;
    cursor:pointer

}

.home .menu .menu-opcoes button:hover{
    border-bottom: 2px solid black
}

.home .footer{
    position:fixed;
    left:4rem;
    bottom:0;
    width:100%;

    font-family: 'Poppins', sans-serif;
    font-weight:300;
    font-size:1.8rem;
}


