.container {
  background: var(--fundo);
  display: grid;
  grid-template-columns: 40% 60%;

  overflow: hidden;

  grid-template-areas: "textos imagem";
}

.content-main {
  grid-area: textos;

  position: absolute;
}

.content-main .title {
  width: 50rem;
}

.content-main .title p {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  line-height: 3.5rem;
  color: var(--fonte);
  text-align: left;
}

.content-main .subtitle p {
  margin-top: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  line-height: 4.2rem;
  color: var(--fonte);
  text-align: left;
}

.image {
  grid-area: imagem;
}

.image img {
  position: absolute;
}

.buttons {
  margin-top: 4rem;
  margin-left: 3rem;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}
